@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Kalam');

:root {
  --space: 30px;
}

.completed {
  margin-top: calc(var(--space) - 5px);
  margin-bottom: calc(var(--space) + 5px);
  margin-right: var(--space);
  margin-left: var(--space);
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100vh - var(--space) * 2);
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 5px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
  background-color: beige;
}

.completed h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Aclonica', sans-serif;
  color: #ffd700;
  letter-spacing: 5px;
}

.completed ul {
  list-style-type: disc;
  padding: 0 10px;
  margin: 0;
}

.completed li {
  list-style-type: none;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  align-items: left;
  font-family: 'Kalam';
  overflow-wrap: break-word;
}

.completed li input[type='checkbox'] {
  accent-color: rgb(255, 255, 128);
  margin-right: 10px;
  display: block;
  width: calc(var(--space) - 5px);
  height: calc(var(--space) - 5px);
}

.completed button {
  background-color: #ffd700;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.completed button:hover {
  background-color: #ffc400;
}
