:root {
  --space: 30px;
  --width: 65vw;
}

.time-table {
  border-collapse: collapse;
  margin-top: calc(var(--space) - 5px);
  margin-right: var(--space);
  margin-left: var(--space);
  padding: 10px 25px;
  max-width: 100%;
  height: 70vh;
  border: #ccc 5px solid;
  border-radius: 20px;
  width: var(--width);
  overflow-y: auto;
}

.time-table th,
.time-table td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.time-column {
  white-space: nowrap;
  min-width: 20px;
}

.day-column {
  min-width: calc((var(--width) - var(--space) * 2 - 100px) / 5);
  max-width: calc(var(--width) / 5);
  overflow-wrap: break-word;
}

.time-table td button {
  margin-left: 10px;
  display: inline-block;
}

.time-table input {
  display: inline-block;
}
