:root {
  --space: 30px;
}

.time-table {
  border-collapse: collapse;
  margin-top: calc(var(--space) - 5px);
  margin-right: var(--space);
  margin-left: var(--space);
  max-width: calc(70vw - var(--space) * 2);
  border: #ccc 5px solid;
  border-radius: 20px;
}

.time-table th,
.time-table td {
  border: 1px solid black;
  padding: 5px;
  min-width: 100px;
}

.time-table th {
  background-color: #ccc;
}

.time-table td {
  text-align: left;
  vertical-align: top;
  max-width: 10vw;
  min-width: 10vw;
  /* overflow-x: auto; */
  inline-size: 100px;
  overflow-wrap: break-word;
}


.time-table div {
  margin: 0 5px;
}

.time-table td button {
  /* float: right; */
  margin-left: 10px;
  display: inline-block;
}

.time-table input {
  display: inline-block;
}

.time-table .time {
  width: fit-content;
}