:root {
  --space: 30px;
  --width: 65vw;
  --padding-horizontal: 10px; /* Adjust the horizontal padding */
}

.time-table {
  border-collapse: collapse;
  margin-top: calc(var(--space) - 5px);
  margin-right: var(--space);
  margin-left: var(--space);
  padding: var(--padding-horizontal) calc(var(--space) - 5px); /* Adjust the padding */
  max-width: 100%; /* Set the max-width to 100% to fit within the div */
  border: #ccc 5px solid;
  border-radius: 20px;
  width: var(--width); /* Set the width to 70vw for the whole table */
}

.time-table th,
.time-table td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.time-column {
  white-space: nowrap;
  min-width: 20px; /* Set a minimum width for the "Time" column */
}

.day-column {
  min-width: calc((var(--width) - var(--space) * 2 - 100px) / 5); /* Calculate the width for day columns */
  max-width: calc(20vw / 5); /* Set a maximum width for day columns */
  overflow-wrap: break-word;
}

.time-table td button {
  margin-left: 10px;
  display: inline-block;
}

.time-table input {
  display: inline-block;
}
