:root {
  --space: 30px;
}

.time-table {
  border-collapse: collapse;
  margin-top: calc(var(--space) - 5px);
  margin-right: var(--space);
  margin-left: var(--space);
  padding: 10px;
  max-width: calc(70vw - var(--space) * 2);
  border: #ccc 5px solid;
  border-radius: 20px;
}

.time-table th,
.time-table td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  vertical-align: top;
  /* max-width: 10vw; */
}

.time-column {
  white-space: nowrap;
}

.day-column {
  max-width: 10vw;
}

.time-table div {
  margin: 0 5px;
}

.time-table td button {
  margin-left: 10px;
  display: inline-block;
}

.time-table input {
  display: inline-block;
}
